/* PerformanceGraphs.css */
.performance-graphs {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.performance-graphs h2 {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
}
/* PerformanceGraphs.css */
.recharts-tooltip-wrapper {
    background-color: rgba(255, 255, 255, 0.9) !important;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.recharts-legend-wrapper {
    padding: 10px;
}
